In [1]:
# imports
import numpy as np
import pandas as pd

In [2]:
# navigating acronyms
team_abbr = ['ANA', 'ARI', 'BOS', 'BUF', 'CAR', 'CBJ', 'CGY', 'CHI', 'COL', 'DAL', 'DET', 'EDM', 'FLA', 'LAK', 'MIN', 'MTL', 'NJD', 'NSH', 'NYI', 'NYR', 'OTT', 'PHI', 'PIT', 'SEA', 'SJS', 'STL', 'TBL', 'TOR', 'UTA', 'VAN', 'VGK', 'WPG', 'WSH']
abbr_to_name = {
    'ANA': 'Anaheim Ducks',
    'ARI': 'Arizona Coyotes',
    'BOS': 'Boston Bruins',
    'BUF': 'Buffalo Sabres',
    'CAR': 'Carolina Hurricanes',
    'CBJ': 'Columbus Blue Jackets',
    'CGY': 'Calgary Flames',
    'CHI': 'Chicago Blackhawks',
    'COL': 'Colorado Avalanche',
    'DAL': 'Dallas Stars',
    'DET': 'Detroit Red Wings',
    'EDM': 'Edmonton Oilers',
    'FLA': 'Florida Panthers',
    'LAK': 'Los Angeles Kings',
    'MIN': 'Minnesota Wild',
    'MTL': 'Montreal Canadiens',
    'NJD': 'New Jersey Devils',
    'NSH': 'Nashville Predators',
    'NYI': 'New York Islanders',
    'NYR': 'New York Rangers',
    'OTT': 'Ottawa Senators',
    'PHI': 'Philadelphia Flyers',
    'PIT': 'Pittsburgh Penguins',
    'SEA': 'Seattle Kraken',
    'SJS': 'San Jose Sharks',
    'STL': 'St. Louis Blues',
    'TBL': 'Tampa Bay Lightning',
    'TOR': 'Toronto Maple Leafs',
    'UTA': 'Utah NHL Team', 
    'VAN': 'Vancouver Canucks',
    'VGK': 'Vegas Golden Knights',
    'WPG': 'Winnipeg Jets',
    'WSH': 'Washington Capitals'
}

In [3]:
data = pd.read_csv('nhl_202324.csv')
data.head(10)

,DATE,AT,HT,WON,LOST,SOLOST,HWR,HLR,HSLR,AWR,ALR,ASLR,HW,AW,HS,AS,RES
0,10/10/23,NSH,TBL,TBL,NSH,NaN,0,0,0,0,0,0,True,False,False,False,HW
1,10/10/23,CHI,PIT,CHI,PIT,NaN,0,0,0,0,0,0,False,True,False,False,AW
2,10/10/23,SEA,VGK,VGK,SEA,NaN,0,0,0,0,0,0,True,False,False,False,HW
3,10/11/23,OTT,CAR,CAR,OTT,NaN,0,0,0,0,0,0,True,False,False,False,HW
4,10/11/23,MTL,TOR,TOR,MTL,NaN,0,0,0,0,0,0,True,False,False,False,HW
5,10/11/23,CHI,BOS,BOS,CHI,NaN,0,0,0,1,0,0,True,False,False,False,HW
6,10/11/23,WPG,CGY,CGY,WPG,NaN,0,0,0,0,0,0,True,False,False,False,HW
7,10/11/23,COL,LAK,COL,LAK,NaN,0,0,0,0,0,0,False,True,False,False,AW
8,10/11/23,EDM,VAN,VAN,EDM,NaN,0,0,0,0,0,0,True,False,False,False,HW
9,10/12/23,NYR,BUF,NYR,BUF,NaN,0,0,0,0,0,0,False,True,False,False,AW

In [7]:
total = len(data)
num_home_wins = data['HW'].values.sum() + data['HS'].values.sum()
num_away_wins = data['AW'].values.sum() + data['AS'].values.sum()
print("Home team won {} out of {} times. ({:%})".format(num_home_wins, total, num_home_wins / total))
print("Away team won {} out of {} times. ({:%})".format(num_away_wins, total, num_away_wins / total))

Home team won 709 out of 1312 times. (54.039634%)
Away team won 603 out of 1312 times. (45.960366%)

In [30]:
team_win_rates = {}
team_wins_count = {}
team_reg_loses_count = {}
team_so_loses_count = {}
for team in team_abbr:
    if team == 'UTA':
        break
    games = data.loc[(data['AT'] == team) | (data['HT'] == team)]
    wins = data.loc[data['WON'] == team]
    reg_loses = data.loc[data['LOST'] == team]
    so_loses = data.loc[data['SOLOST'] == team]
    team_win_rates[team] = len(wins) / len(games)
    team_wins_count[team] = len(wins)
    team_reg_loses_count[team] = len(reg_loses)
    team_so_loses_count[team] = len(so_loses)
team_records = pd.DataFrame([team_win_rates,team_wins_count,team_reg_loses_count,team_so_loses_count]).T
team_records.columns = ['WIN RATE', '# WINS', '# REGULATORY LOSES', '# SHOOTOUT LOSES']
team_records['# WINS'], team_records['# REGULATORY LOSES'], team_records['# SHOOTOUT LOSES'] = team_records['# WINS'].astype(int), team_records['# REGULATORY LOSES'].astype(int), team_records['# SHOOTOUT LOSES'].astype(int)
team_records

     WIN RATE  # WINS  # REGULATORY LOSES  # SHOOTOUT LOSES
ANA  0.329268      27                  50                 5
ARI  0.439024      36                  41                 5
BOS  0.573171      47                  22                13
BUF  0.475610      39                  37                 6
CAR  0.634146      52                  23                 7
CBJ  0.329268      27                  47                 8
CGY  0.475610      39                  39                 4
CHI  0.280488      23                  53                 6
COL  0.609756      50                  25                 7
DAL  0.634146      52                  21                 9
DET  0.500000      41                  32                 9
EDM  0.597561      49                  28                 5
FLA  0.634146      52                  24                 6
LAK  0.536585      44                  28                10
MIN  0.475610      39                  33                10
MTL  0.365854      30                  39                13
NJD  0.463415      38                  39                 5
NSH  0.573171      47                  30                 5
NYI  0.475610      39                  27                16
NYR  0.670732      55                  23                 4
OTT  0.451220      37                  42                 3
PHI  0.451220      37                  33                12
PIT  0.463415      38                  32                12
SEA  0.414634      34                  35                13
SJS  0.231707      19                  55                 8
STL  0.524390      43                  33                 6
TBL  0.548780      45                  30                 7
TOR  0.560976      46                  26                10